# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# data/
*.gz
*.zip

# input and output files
*.png

# # PyTorch models
# *.pt
# *.pth

# # Python
# __pycache__/
# *.pyc

# # Environments
# .venv/
# env/